.navbar{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 237, 237);
    font-size: large;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
}
#basic-navbar-nav{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 2rem;
}
.me-auto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:2rem;
}
.btn{
    color: white !important;
    background-color: rgba(247, 83, 83, 0.943) !important;
}

.btn:hover{
    background-color: rgba(247, 43, 43, 0.961) !important;
}


