.categories {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
  }
  .categories button {
    background-color: #ffffff;
    color: rgb(253, 50, 50);
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 18px;
    box-sizing: border-box;
  }

  .categories button.active {
    background-color: rgb(253, 50, 50); /* Change to the active color */
    color: white; /* Change text color for active button */
  }
  /* 8 buttons per row on large screens */
  @media (min-width: 1200px) {
    .categories {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  
  /* 6 buttons per row on medium screens */
  @media (min-width: 768px) and (max-width: 1199px) {
    .categories {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  /* 3 buttons per row on small screens */
  @media (max-width: 767px) {
    .categories {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  

